.Memory-modal {
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
}
.Memory-modal-hole {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  width: 100vw;
}
.Memory-modal-bg {
  position: fixed;
  z-index: 0;
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
}
.Memory-modal-exit {
  z-index: 2;
  position: absolute;
  top: 20px;
  right: calc(20px + 3%);
  cursor: pointer;
}
.Memory-modal-exit-positon {
  display: flex;
  padding: 8px;
  margin: 0;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  touch-action: manipulation;
  text-align: inherit;
}
.Memory-modal-exit-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 32px;
}
.Memory-modal-obj {
  width: 100%
}
.Memory-modal-positon {
  display: flex;
  justify-content: center;
  align-items: stretch;
  box-sizing: border-box;
  flex-grow: 1;
}
.Memory-modal-loc {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}
.Memory-modal-loc-positon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: hidden;
  z-index: 1;
  box-sizing: content-box;
}
.Memory-modal-loc-loc {
  flex-shrink: 1;
  justify-content: center;
  width: 100%;
  margin: 0;
  position: relative;
  animation-timing-function: ease-in-out;
  animation-duration: .1s;
  animation-iteration-count: 1;
  animation-name: modal-a;
  max-height: calc(100% - 40px);
}
.Memory-next-container {
  position: absolute;
  box-sizing: border-box;
  padding: 10px;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.Memory-next-container-content {
  height: 100%;
  position: none;
  position: relative;
  width: 100%;
}
.Memory-next-content {
  position: absolute;
  top: 50%;
  background: white;
  border-radius: 50%;
  box-shadow: 0 4px 12px rgb(0 0 0 / 15%);
  cursor: pointer;
  /* margin-top: -20px; */
  margin-left: 2px;
  margin-right: 2px;
  opacity: 1;
  transition-duration: .2s;
  transition-property: opacity;
  z-index: 3;
  display: block;
  overflow: hidden;
  pointer-events: auto;
  text-indent: -9999em;
}
.modal-btn-text {
  height: 16px;
  width: 16px;
  font-size: 14px;
  line-height: 14px;
}
.next-left {
  left: 0;
}
.next-right {
  right: 0;
}

.Memory-next-btn {
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 8px;
  color: rgb(38, 38, 38);
  font-size: 14px;
  line-height: 14px;
  margin: 0;
}
.Memory-next-btn-div {
  display: flex;
  justify-content: center;
  align-items: center;
}


.Memory-modal-content {
  width: 100%;
  pointer-events: none;
  align-items: stretch;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 4px;
  margin: auto;
  max-height: calc(100vh - 40px);
  max-width: calc(100% - 64px - 64px);
}
.Memory-modal-content-box {
  display: flex;
  height: 100%;
  max-width: 100%;
}
.Memory-article {
  width: 100%;
  max-height: inherit;
  padding: 0;
}
.Memory-article-content {
  max-height: inherit;
  max-width: inherit;
  display: flex;
  flex: 0 0 auto;
  justify-content: center;
  flex-direction: row;
  align-items: stretch;
  align-content: stretch;
  box-sizing: border-box;
  position: relative;
}
.Memory-article-img {
  max-height: 674px;
  max-width: 495.2px;
  aspect-ratio: 495.2 / 674;
  display: flex;
  flex-basis: 495.2px;
  background-color: black;
  flex-grow: 1;
  justify-content: center;
  min-height: 450px;
  overflow: hidden;
  flex-shrink: 1;
  pointer-events: auto;
  position: relative;
}
.Memory-article-text {
  align-items: stretch;
  border: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 2;
  font: inherit;
  font-size: 100%;
  margin: 0;
  max-width: 500px;
  min-width: 405px;
  padding: 0;
  position: relative;
  vertical-align: baseline;
  background-color: white;
}
.Memory-article-text-nickname {
  display: flex;
  align-items: center;
  align-content: stretch;
  box-sizing: border-box;
  position: relative;
}
.Memory-article-text-content {
  /* align-items: center; */
  box-sizing: border-box;
  /* display: flex; */
  flex-direction: row;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: calc(100% - 48px);
  padding: 14px 16px;
  position: relative; 
}
.a {
  white-space: pre-line;
}
