
@font-face {
  font-family:"fontone";
  src: url("../../../public/assets/fonts/fontone.ttf")
}

.main-page, .main-page::before, .main-page::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

.main-page {
  /* font-family: "fontone"; */
  color: white;
  overflow: hidden;

}
  

/* 시계 테스트 */
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #ffffff;
  --greyLight-1: #E4EBF5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;
  --pink: #f9d5e8; 
}




/* .main-page .container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.main-page .components {
  width: 75rem;
  height: 39rem;
  border-radius: 3rem;
  box-shadow: 0.2rem 0.2rem 1.2rem var(--pink), -0.2rem -0.2rem 1.2rem var(--pink);
  padding: 4rem;
  display: grid;
  grid-template-columns: 17.6rem 19rem 20.4rem;
  grid-template-rows: repeat(autofit, -webkit-min-content);
  grid-template-rows: repeat(autofit, min-content);
  grid-column-gap: 5rem;
  grid-row-gap: 2.5rem;
  align-items: center;

  margin-top: 6vh;
  margin-bottom: 50vh;
  
} */

/*  CLOCK  */
.clock {
  grid-column: 2/3;
  grid-row: 1/3;
  width: 32rem;
  height: 32rem;
  justify-self: center;
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem var(--white);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  align-items: center;

  margin-top:-5vh;
  margin-bottom: 60vh;
}

.clock .hand {
  position: absolute;
  transform-origin: bottom;
  bottom: 6rem;
  border-radius: 0.2rem;
  z-index: 200;

  margin-bottom: 22vh;
}

.clock .hours {
  width: 0.3rem;
  height: 3.6rem;
  background: var(--greyLight-3);
}

.clock .minutes {
  width: 0.4rem;
  height: 4.6rem;
  background: var(--greyDark);
}

.clock .seconds {
  width: 0.2rem;
  height: 5.2rem;
  background: var(--primary);
}
.clock .point {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: var(--primary);
  z-index: 300;
}

.clock .marker {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  position: relative;
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem var(--white);
}

.clock .marker::after {
  content: "";
  width: 60%;
  height: 60%;
  position: absolute;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), inset -1px -1px 1px var(--white);
  border-radius: 50%;
  top: 20%;
  left: 20%;
  filter: blur(1px);
}
.clock .marker__1, .clock .marker__2, .clock .marker__3, .clock .marker__4 {
  position: absolute;
  border-radius: 0.1rem;
  box-shadow: inset 1px 1px 1px var(--greyLight-2), inset -1px -1px 1px var(--white);
}
.clock .marker__1, .clock .marker__2 {
  width: 0.2rem;
  height: 0.6rem;
  left: 5.6rem;
}
.clock .marker__3, .clock .marker__4 {
  width: 0.6rem;
  height: 0.2rem;
  top: 5.6rem;
}
.clock .marker__1 {
  top: 2%;
}
.clock .marker__2 {
  top: 98%;
  transform: translateY(-0.6rem);
}
.clock .marker__3 {
  left: 2%;
}
.clock .marker__4 {
  left: 98%;
  transform: translateX(-0.6rem);


}



/* 시계 테스트 END */

.imgDiv {
  top: 15vh;
  width: 30%;
  margin: 10px auto;

  position: relative;
}

.watch {
  width: 100%;
  vertical-align: middle;
}

.dDay {
  padding: 5px 10px;

  font-size: 50px;
  text-align: center;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* background-color: grey; */
  /* border: 1px solid grey; */
  cursor: pointer;
  z-index: 2;
}

.remain-d-day {
  padding: 5px 10px;

  font-size: 70px;
  text-align: center;
  position: absolute;

  /* top: 43%; */
  margin-top:36vh;
  margin-left: 13.2vw;
  
  transform: translate(-50%, -50%);

  /* background-color: grey; */
  /* border: 1px solid grey; */
  cursor: pointer;
  z-index: 2;
}

.main-page .group-name-wrapper {
  position: absolute;

  /* background-color: green; */

  width: 30vw;
  height: 8vh;

  margin-top: 80vh;
  margin-left: -1vw;

  border: 1px solid grey;
  /* top: 85%;
  left: 47%; */
  cursor: pointer;
  z-index: 2; 
}

.agree-btn {
  width: 10vw;
  height: 5vh;
  background-color: red;
}

.group-name-wrapper > h1 {
  text-align: center;
}

.downBtn {
  position: absolute;
  top: 43%;
  left: 19%;
  width: 9vw;
  height: 15vh;

  z-index: 2;
}

.upBtn {
  position: absolute;
  top: 45%;
  left: 68%;
  width: 9vw;
  height: 15vh;

  z-index: 2;
}

.downBtn:hover {
  cursor: pointer;
  /* background-color: grey; */
  transform: scale(1.3);
  z-index: 2;
}

.upBtn:hover {
  cursor: pointer;
  /* background-color: grey; */
  transform: scale(1.3);
  z-index: 2;
}




/* nav css */

* {
  box-sizing: border-box;
}



/* .main-page .nav {
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  position: relative;
  color: white;

}

.nav>.nav-header {
  display: inline;
}

.nav>.nav-header>.nav-title {
  display: inline;
  float: left;
  font-size: 18px;
}

.nav>.nav-header>.nav-title>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.nav>.nav-header>.nav-title>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.nav>.nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav>.nav-links>a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

.nav>.nav-links>div {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}



.nav>.nav-links>a:hover {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
 */
 /* book */
 .book-choice{
  position: absolute;
  
  width: 10vw;
  height: 10vh;


  top: 80%;
  left: 30%;

  /* border: 2px solid red; */

  cursor: pointer;

  z-index: 3;
}

/* pencil */
 .pencil-choice{
  position: absolute;
  
  width: 10vw;
  height: 10vh;

  margin-top: 83vh;
  margin-left: 55vw;
  margin-right: 80vw;

  /* top: 85%; */
  /* left: 57%; */

  /* border: 2px solid red; */

  cursor: pointer;

  z-index: 3;
}

.pencil-choice:hover {
  /* background-color: green; */
}

.pencil-img {
  /* position: relative; */
  /* display: inline-block; */

  /* margin-right: 1.1vw; */

  /* border: 3px solid grey; */
  
}

.pencil-img > img {
  width: 10vw;
  height: auto;

  transform: rotateZ(-15deg);

  z-index: 3;
}


.dropdown {
  position: relative;
  display: inline-block;

  margin-right: 1.1vw;
}

.dropdown:hover {
  cursor: pointer;
}

.dropdown-content {

  top: 30%;
  left:70%;

  display: none;
  position: absolute;
  background-color: #f9f9f9;
  color: black;
  
  text-align: center;
  
  min-width: 20vw;
  min-height: 10vh;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);

  border-radius: 5%;

  padding: 12px 16px;
  z-index: 1;
  /* height: 20vh; */
  max-height: 20vh;
  overflow: auto;
  -ms-overflow-style: none;

  font-size: 20px;
  
}

.dropdown-content::-webkit-scrollbar {
  display: none;
}


.dropdown:hover .dropdown-content {
  display: block;

}

.pencil-choice:hover .dropdown-content {
  display: block;
}


.dropdown>a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-content>div>a:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
}


.dropdown>img:hover {
  cursor: pointer;
}

.dropdown>img:hover .dropdown-content {
  display: block;
}



/* 캐릭터 이미지  */

.rabbit-img-wrapper {
  /* border: 1px solid red; */

  position: absolute;

  margin-top: 28vh;
  margin-left: 52vw;

  width: 20vw;
  height: 44vh;
}

.rabbit-img-wrapper > img {
  width: 22vw;
  height: auto;
}

.alice-img-wrapper {
  /* border: 1px solid red; */

  position: absolute;

  margin-top: 28vh;
  margin-left: -3vw;

  transform: rotateZ(-10deg);

  width: 20vw;
  height: 44vh;
}

.alice-img-wrapper > img {
  width: 12vw;
  height: auto;
}

/* circle */
/*  PLAY BUTTON  */
.circle {
  grid-column: 2/3;
  grid-row: 4/6;
  width: 9rem;
  height: 100%;
  justify-self: center;
  border-radius: 1rem;
  display: grid;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}
.circle__btn {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  height: 6rem;
  display: flex;
  margin: 0.6rem;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 3.2rem;
  color: var(--primary);
  z-index: 300;
  /* background: ; */
  box-shadow: 0.3rem 0.3rem 0.6rem var(--greyLight-2), -0.2rem -0.2rem 0.5rem transparent ;
  cursor: pointer;
  position: relative;
}
.circle__btn .shadow {
  box-shadow: inset 0.2rem 0.2rem 0.5rem var(--greyLight-2), inset -0.2rem -0.2rem 0.5rem transparent;
}
.circle__btn .play {
  position: absolute;
  opacity: 0;
  transition: all 0.2s linear;
}
.circle__btn .play .visibility {
  opacity: 1;
}
.circle__btn .pause {
  position: absolute;
  transition: all 0.2s linear;
}
.circle__btn .pause .visibility {
  opacity: 0;
}
.circle__back-1, .circle__back-2 {
  grid-row: 1/2;
  grid-column: 1/2;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  filter: blur(1px);
  z-index: 100;
}
.circle__back-1 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
  /* background: linear-gradient(to bottom right, var(--greyLight-2) 0%, var(--white) 100%); */
  -webkit-animation: waves 4s linear infinite;
          animation: waves 4s linear infinite;
}
.circle__back-1 .paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}
.circle__back-2 {
  box-shadow: 0.4rem 0.4rem 0.8rem var(--greyLight-2), -0.4rem -0.4rem 0.8rem var(--white);
  -webkit-animation: waves 4s linear 2s infinite;
          animation: waves 4s linear 2s infinite;
}
.circle__back-2 .paused {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* test */
.bubble {
  animation-name: bubbleAni;
  animation-duration: 3s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

@keyframes bubbleAni {
  0% {
    transform: translate(0%, 5%);
  }
  50% {
    transform: translate(0%, -5%);
  }
  100% {
    transform: translate(0%, 5%);
  }
}
