* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0px;
    font-family: 'segoe ui';
    
    /* font-family: "Roboto", sans-serif; */
  }
  
  .nav {
    height: 50px;
    width: 100%;
    background-color: rgba( 255, 255, 255, 0 );
    position: relative;
    /* opacity: 0.5; */
  }
  
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline;
    float: left;
    font-size: 18px;
  }
  
  .nav > .nav-header > .nav-title > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }

  .nav > .nav-header > .nav-title > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
  }
  
  .nav > .nav-links > a:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
