.imgDiv1  {
    top: 5vh;
	width: 70%;
	margin: 10px auto;
    margin-left: 20vh;
    float: left;
	position: relative;
    display: flex;
    justify-content: space-between;
}

.create-clock-wrapper {
    width: 50vw;
    height: 70vh;

    /* margin-right: 20vw; */
    margin-left: 7vw;
    margin-top: 13vh;

    /* border: 1px solid grey; */
}

.watch1 {
	width: 60%;
    /* display: block; */
	vertical-align: middle;
}

.clock-info-wrapper {
    display: inline;

    margin-right: 0vw;
    margin-top: 13vh;

    color: white;
}

.clock-info-wrapper > div > input {
    margin-bottom: 20px;
    width: 300px;
    height: 30px;
    background-color: blanchedalmond;
    border: 0;
    
}

.clock-info-wrapper > div > label{
    margin-right: 15px;
}

.clock-info-wrapper > button {
    margin-bottom: 100px;
} 

