.uploader-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .file-wrapper{
      margin: 50px 0 20px 0;
      img, video{
        width: 300px;
        height: 300px;
        object-fit: contain;
      }
    }
    .upload-button{
      button{
        margin: 0 5px;
      }
    }
  }